<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url "signup" %}">Sign Up</a></li>
                <li><a href="{% url "login" %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
