<!DOCTYPE html>
<html lang="en">
<head>
    <title>Categories</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "create_receipt"%}"> Create receipt</a></li>
                <li><a href="{% url "create_category"%}"> Create category</a></li>
                <li><a href="{% url "create_account"%}"> Create account</a></li>
                <li><a href="{% url "account_list"%}"> My account</a></li>
                <li><a href="{% url "category_list"%}"> My category</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.receipts.all |length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
