<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Account</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "create_receipt"%}"> Create receipt</a></li>
                <li><a href="{% url "create_category"%}"> Create category</a></li>
                <li><a href="{% url "create_account"%}"> Create account</a></li>
                <li><a href="{% url "account_list"%}"> My account</a></li>
                <li><a href="{% url "category_list"%}"> My category</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
