<!DOCTYPE html>
<html lang="en">
<head>
    <title>Receipt</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Log Out</a></li>
                <li><a href="{% url "create_receipt"%}"> Create receipt</a></li>
                <li><a href="{% url "create_category"%}"> Create category</a></li>
                <li><a href="{% url "create_account"%}"> Create account</a></li>
                <li><a href="{% url "account_list"%}"> My account</a></li>
                <li><a href="{% url "category_list"%}"> My category</a></li>
                {% else %}
                <li><a href="{% url "signup" %}">Sign Up</a></li>
                <li><a href="{% url "login" %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1> My Receipts </h1>
        <table>
            <thead>
                <tr>
                    <th> Vendor </th>
                    <th> Total </th>
                    <th> Tax </th>
                    <th> Date </th>
                    <th> Category </th>
                    <th> Account </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for receipt in receipts%}
                        <td>{{receipt.vendor}}</td>
                        <td>{{receipt.total}}</td>
                        <td>{{receipt.tax}}</td>
                        <td>{{receipt.date |date:"m/d/y"}}</td>
                        <td>{{receipt.category.name}}</td>
                        <td>{{receipt.account.name}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
